<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%let people = ['geddy', 'neil', 'alex']%>
    <%console.log(data)%>
    <h1>Welcome <%=people[0]%></h1>
    <h2>My favorite color is <%=data.color%> and favourite fruit is <%=data.fruit%>!</h2>
</head>
<body>
    
</body>
</html>